<!DOCTYPE HTML>
<html ng-app="app" ng-controller="AppCtrl">
<head>
    <title ng-bind="::buyBackName"></title>

    <!-- Le js -->
    <script src="JS/angular.min.js"></script>
    <script src="JS/lodash.min.js"></script>
    <script src="JS/lootBuyback.js"></script>
    <script src="JS/buyBackUtilityService.js"></script>
    <script src="JS/config.js"></script>

    <!-- Le css -->
    <link rel="stylesheet" href="CSS/skeleton.css"/>
</head>

<body>
<div>
    <h1 ng-bind="::buyBackName"></h1>
    <div>
        <p>Copy paste your items into the box below from item hanger's list/detail view. Create a
            contract to <b ng-bind="::contactName"></b> for the specified price in this page. Copy and paste the
            reference ID into contract description. Then hit submit. Wait for contract to be accepted
            and collect your isk.</p>

        <p style="font-size:large;">Location of Loot: <br></p>

        <select ng-model="location" ng-change="calculateTotals();">
             <option ng-repeat="system in BUYBACK_DATA" value="{{$index}}" ng-bind="system.name"></option>
        </select>


        <p>BuyBack Rate: Buy - <span ng-bind="100 - (BUYBACK_DATA[location].rate * 100)"></span>%</p>


        <p style="font-size:x-large; color:red;">
            Reference ID: <span ng-bind="::REFERENCE_ID"></span>
        </p>

    </div>
</div>


<div>
    <div class="totals">
        <p id="value" ng-bind="totalBuyback | currency"></p>

        <p id="volume" ng-bind="totalVolume | number:2"></p>
    </div>


    <textarea autofocus ng-list="&#10;" ng-trim="false" ng-model="items" ng-change="update();"
              rows="10" cols="125"></textarea>

    <br>

    <button id="submit" ng-click="submit();" type="button">Submit</button>

    <table id="itemListing">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Buyback Price Per Unit</th>
            <th>Jita Buy Total</th>
            <th>Buy Back Total</th>
        </tr>
        <tr ng-repeat="item in displayItems | orderBy:'name'">
            <td ng-bind="::item.typeName"></td>
            <td ng-bind="::item.quantity | number:0"></td>
            <td ng-bind="item.buyBackPricePerUnit | currency"></td>
            <td ng-bind="item.marketHubTotal | currency"></td>
            <td ng-bind="item.buyBackTotal | currency"></td>
        </tr>
    </table>
</div>
